@import "~bootstrap/scss/bootstrap";

// Admin Client
body.admin-client {
    background-color: #0d1117;
}

main.admin-client {
    height: calc(100vh - 70px - 8rem);
    margin-top: 8rem;
}

.navbar_admin-client {
    height: 70px;
}


// Pagination Element

.pagination {
    position: absolute;
    bottom: 5rem;
    left: 0;
}

.pagination .page-item {
    background-color: #212529 !important;
    border: 1px solid #212529 !important;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;

    &:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        margin-left: 0;
    }

    &:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}

.pagination .page-item.disabled .page-link,
.pagination .page-item.active .page-link {
    color: white;
    pointer-events: none;
    cursor: not-allowed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.pagination .page-link {
    background-color: transparent;
    border: 1px solid transparent;
    color: #696a6b;
}

.pagination .page-link:hover {
    color: white;
    text-decoration: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 0.25rem;
}
