@import "~bootstrap/scss/bootstrap";

// General Tags
img,
svg {
    vertical-align: top !important;
    width: 100%;
    height: auto;
}

// Admin Client
body.admin-client {
    //background-color: #0d1117;
    background-color: green;
}

main.admin-client {
    height: calc(100vh - 70px - 6.5rem);
    margin-top: 6.5rem;
}

.navbar_admin-client {
    height: 70px;

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;

        .brand-logo-wrapper {
            width: 50px;
            height: 50px;
            margin-right: 1rem;

            .brand-logo {
                border-radius: 50%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}


// Pagination Element

.pagination {
    position: relative;
}

.pagination .page-item {
    background-color: #212529 !important;
    border: 1px solid #212529 !important;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;

    &:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        margin-left: 0;
    }

    &:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}

.pagination .page-item.disabled .page-link,
.pagination .page-item.active .page-link {
    color: white;
    pointer-events: none;
    cursor: not-allowed;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.pagination .page-link {
    background-color: transparent;
    border: 1px solid transparent;
    color: #696a6b;
}

.pagination .page-link:hover {
    color: white;
    text-decoration: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 0.25rem;
}