@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

// General Tags
img, svg {
    vertical-align: top !important;
    width: 100%;
    height: auto;
}

// Admin Client
body.admin-client {
    background-color: #0d1117;
}

main.admin-client {
    min-height: calc(100vh - 70px - 6.5rem);
    margin-top: 6.5rem;
}

.navbar_admin-client {
    height: 70px;

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;

        .brand-logo-wrapper {
            width: 50px;
            height: 50px;
            margin-right: 1rem;

            .brand-logo {
                border-radius: 50%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}

// Card Show
.card {
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-family: 'Muli', sans-serif;

    .show-thumb-container {
        height: 600px;
        position: relative;

        .show-thumb {
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }

        .card-titles {
            position: absolute;
            left: 50%;
            bottom: -2rem;
            color: #0d1117;
            text-align: center;
            transform: translateX(-50%);
            width: 80%;
            /* From https://css.glass */
            background: rgb(255, 255, 255);
            padding: 0.2rem;
            border-radius: 0 1rem 0 1rem;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    }

    .card-body {

        .show-item {
            background-color: transparent;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}

.custom-divider {
    max-width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
}

// Pagination Element

.pagination {
    position: relative;
}

.pagination .page-item {
    background-color: #212529 !important;
    border: 1px solid #212529 !important;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;

    &:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        margin-left: 0;
    }

    &:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}

.pagination .page-item.disabled .page-link,
.pagination .page-item.active .page-link {
    color: white;
    pointer-events: none;
    cursor: not-allowed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.pagination .page-link {
    background-color: transparent;
    border: 1px solid transparent;
    color: #696a6b;
}

.pagination .page-link:hover {
    color: white;
    text-decoration: none;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 0.25rem;
}
